@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 70px;
    background-color:#555;
}
     
#main-footer {
    margin-top: 5em;
}

#content, #main-footer, #main-menu {
    font-family: 'Roboto', sans-serif;
}

html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

.btn-primary {
    margin-left: 55px;
    padding: 20px;
    border-radius: 50px;
}

.thumbnail, .btn-primary { 
    background-color:#555;
    border-radius:20px;
    box-shadow:
    0px 7px 10px 7px rgba(0, 0, 0, 0.5) inset,
    0px 5px 5px 0px rgba(255, 255, 255, 0.5);
}
